<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Project4Task2</display-name>

    <!-- Quote / Health servlet (REST-style, but still Servlets) -->
    <servlet>
        <servlet-name>QuoteServlet</servlet-name>
        <servlet-class>ds.task2.QuoteServlet</servlet-class>

        <init-param>
            <param-name>ATLAS_URI_ENV</param-name>
            <param-value>ATLAS_URI</param-value>
        </init-param>

        <init-param>
            <param-name>CACHE_TTL_MS</param-name>
            <param-value>15000</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuoteServlet</servlet-name>
        <url-pattern>/api/quote</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuoteServlet</servlet-name>
        <url-pattern>/api/health</url-pattern>
    </servlet-mapping>

    <!-- Dashboard servlet -->
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>ds.task2.DashboardServlet</servlet-class>

        <init-param>
            <param-name>ATLAS_URI_ENV</param-name>
            <param-value>ATLAS_URI</param-value>
        </init-param>

        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <!-- Optional default index -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>

